<div class="col-md-12">
  <h3 class="mb-3 text-center">Edit Stock Data</h3>

  <div class="form-group row">
	  <label class="control-label col-md-12">Stock Id</label>
	  <input type="text" [(ngModel)]="stockdataDetails.id" class="form-control">
	</div>
<div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input type="text" [(ngModel)]="stockdataDetails.stockTicker" class="form-control">
	</div>
  <div class="form-group row">
	  <label class="control-label col-md-12">Stock Price</label>
	  <input type="text" [(ngModel)]="stockdataDetails.price" class="form-control">
	</div>
  <div class="form-group row">
	  <label class="control-label col-md-12">Stock Volume</label>
	  <input type="text" [(ngModel)]="stockdataDetails.volume" class="form-control">
	</div>
	<div class="form-group row">
	  <label class="control-label col-md-12">Buy or Sell</label>
	  <input type="text" [(ngModel)]="stockdataDetails.buyOrSell" class="form-control">
	</div>
  <div class="form-group row">
	  <label class="control-label col-md-12">Date</label>
	  <input type="text" [(ngModel)]="stockdataDetails.date" class="form-control">
	</div>

  <div class="form-group">
    <button class="btn-success btn-lg btn-block" (click)="updateStockdata()">Save Stockdata</button>
  </div>
</div>
