<nav class="navbar has-background-white-ter" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-6 has-text-weight-semibold is-hoverable" routerLink="/home">
        Springfield.io
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item has-text-grey-light is-hoverable" routerLink="/portfolio">
        My Investment Portfolio
      </a>
      <a class="navbar-item has-text-grey-light is-hoverable" routerLink="/stockdata-create">
        Trades
      </a>
      <a class="navbar-item has-text-grey-light is-hoverable" routerLink="/market">
          Market Insights
      </a>
      <a class="navbar-item has-text-grey-light is-hoverable">
            Financial Planning
          </a>
      <a class="navbar-item has-text-grey-light is-hoverable" href = "https://d3hbazuoll3kiz.cloudfront.net/index.html">
            RoboAdvisor Chat
          </a>
     <div class="navbar-end"></div>
    </div>
  </div>
  <div class="*t *r mt-2 mr-1">
    <div class="has-text-weight-normal is-size-7 has-text-grey">
      Welcome, Darryl!
    </div>
    <div class="has-text-weight-normal is-size-7 has-text-info has-text-right	is-underlined	">
     Sign Out
    </div>
  </div>
</nav>
