  <app-navbar></app-navbar>
  <!--<button class="btn btn-outline-primary" routerLink="/stockdata-create">Add Stock</button>-->

  <!--<button class="btn btn-outline-primary" routerLink="/stockdata-list">List Stocks</button>-->

  <!-- Use this in the AppComponent template -->
  <div class="has-background-white-ter">
    <router-outlet></router-outlet>
  </div>

