<div *ngIf="Stockdata.length !== 0">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Stock Id</th>
          <th scope="col">Stock Ticker</th>
          <th scope="col">Value</th>
          <th scope="col">Shares</th>
          <th scope="col">Buy or Sell</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockdata of Stockdata">
          <td>{{ stockdata.id }}</td>
          <td>{{ stockdata.stockTicker }}</td>
          <td>${{ stockdata.price }}</td>
          <td>{{ stockdata.volume }}</td>
          <td>{{ stockdata.act }}</td>
          <td>{{ stockdata.date }}</td>
          <td>
            <a
              [routerLink]="['/stockdata-edit/', stockdata.id]"
              class="btn btn-primary btn-sm float-right"
              >Edit</a
            >&nbsp;
            <a
              [routerLink]=""
              (click)="deleteStockdata(stockdata.id)"
              class="btn btn-danger btn-sm float-right"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
