<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55%" height="70%" viewBox="1250 -10 2500 2500">
  <defs>
    <filter id="Ellipse_1" x="0" y="0" width="2128" height="2128" filterUnits="userSpaceOnUse">
      <feOffset dy="8" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="5" result="blur"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Ellipse_1)">
    <g id="Ellipse_1-2" data-name="Ellipse 1" transform="translate(15 7)" fill="#046dae" stroke="#707070" stroke-width="1" opacity="0.502">
      <circle cx="1049" cy="1049" r="1049" stroke="none"/>
      <circle cx="1049" cy="1049" r="1048.5" fill="none"/>
    </g>
  </g>
</svg>
