

<p class="is-uppercase	has-text-weight-semibold	">Portfolio</p>
<p class="is-uppercase	has-text-weight-semibold	has-text-grey-lighter	">Market</p>
<p class="is-uppercase	has-text-weight-semibold	has-text-info	">Trade</p>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="60%" viewBox="100 -20 1250 800">
  <defs>
    <filter id="Ellipse_1" x="100" y="0" width="959" height="958" filterUnits="userSpaceOnUse">
      <feOffset dy="8" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="5" result="blur"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="Ellipse_2" x="875.5" y="92.5" width="677" height="676" filterUnits="userSpaceOnUse">
      <feOffset dy="10" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="7.5" result="blur-2"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur-2"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="Ellipse_3" x="724" y="530" width="503" height="503" filterUnits="userSpaceOnUse">
      <feOffset dy="15" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="10" result="blur-3"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur-3"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Group_1" data-name="Group 1" transform="translate(-257.827 -153.411)">
    <g transform="matrix(1, 0, 0, 1, 257.83, 153.41)" filter="url(#Ellipse_1)">
      <g id="Ellipse_1-2" data-name="Ellipse 1" transform="translate(15 7)" fill="#002d72" stroke="#707070" stroke-width="1">
        <ellipse cx="464.5" cy="464" rx="464.5" ry="464" stroke="none"/>
        <ellipse cx="464.5" cy="464" rx="464" ry="463.5" fill="none"/>
      </g>
    </g>
    <g transform="matrix(1, 0, 0, 1, 257.83, 153.41)" filter="url(#Ellipse_2)">
      <g id="Ellipse_2-2" data-name="Ellipse 2" transform="translate(898 105)" fill="#b5b5b5" stroke="#707070" stroke-width="1">
        <ellipse cx="316" cy="315.5" rx="316" ry="315.5" stroke="none"/>
        <ellipse cx="316" cy="315.5" rx="315.5" ry="315" fill="none"/>
      </g>
    </g>
    <g transform="matrix(1, 0, 0, 1, 257.83, 153.41)" filter="url(#Ellipse_3)">
      <g id="Ellipse_3-2" data-name="Ellipse 3" transform="translate(754 545)" fill="#046dae" stroke="#707070" stroke-width="1">
        <circle cx="221.5" cy="221.5" r="221.5" stroke="none"/>
        <circle cx="221.5" cy="221.5" r="221" fill="none"/>
      </g>
    </g>
  </g>
</svg>

<footer class="footer has-background-white-ter">
    <div class="content has-text-left	">
        <svg style="width:3%;height:3%" viewBox="0 0 24 24">
          <path fill="#CCBFB9" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
      </svg>
      <svg style="width:3%;height:3%" viewBox="0 0 24 24">
          <path fill="#CCBFB9" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
      </svg>
    </div>
</footer>
